body, html, #root {
  margin: 0;
  padding: 0;
  font-family:'Sora', sans-serif;
  height: 100%;
}


@font-face {
  font-family: 'GODOFWAR';
  src: url('./assets/fonts/GODOFWAR.TTF') format('truetype');
}

@font-face {
  font-family: 'Vogue';
  src: url(./assets/fonts/Vogue.ttf) format('truetype');
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url(./assets/fonts/ClashGrotesk.ttf) format('truetype');
}
